body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.form-group {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.form-group label {
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

input[type="text"],
input[type="datetime-local"],
input[type="number"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results-container {
    margin-top: 20px;
}

#results {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f8f8f8;
}

#selectAll {
    margin-right: 5px;
}

.selectRow {
    margin-right: 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

.form-buttons button {
    flex: 1;
    margin-right: 15px;
    margin-top: 10px;
}

.form-buttons button:last-child {
    margin-right: 0;
}
